@charset "UTF-8";

/* Configurações gerais */

*{
    margin: 0px;
    padding: 0px;
    font-size: 1.0em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}

body, html{
    width: 100vw;
    height: 100vh;

}

body  {
    background: url(../Img/pexels-mnm-zameer-3308588\ -\ Copia.jpg) no-repeat;
}

main {
    background-color: whitesmoke;
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;

}


